body {
width: 1440px;
width: 100%;
background-color: hsl(210, 46%, 95%);
}

.grid-container {
display: grid;
row-gap: 15px;
column-gap: 15px;
}

.Daniel {
width: 500px;
height: 200px;
background-color: hsl(263, 55%, 52%);
/*margin-top: 60px;
margin-left: 110px;
margin-right: 15px;*/
grid-column: 1;
grid-row: 1;
}

.Jonathan {
width: 250px;
height: 200px;
background-color: hsl(217, 19%, 35%);
/*margin-top: 60px;
margin-right: 15px;*/
grid-column: 2;
grid-row: 1;
}

.Kira {
width: 250px;
height: 400px;
background-color: hsl(0, 0%, 100%);
/*margin-top: 60px;
margin-right: 60px;*/
grid-column: 3;
grid-row: 1/span2;
}

.Jeanette {
width: 250px;
height: 200px;
background-color: hsl(0, 0%, 100%);
/*margin-top: 15px;
margin-right: 15px;
margin-left: 110px;*/
grid-column: 1;
grid-row: 2;
}

.Patrick {
width: 500px;
height: 200px;
background-color: hsl(219, 29%, 14%);
/*margin-top: 15px;
margin-right: 15px;
margin-left: 15px;*/
grid-column: 2;
grid-row: 2;
}